## Echo Test Interoperability Results
Test run at 2021-02-21 20:43:38.761158

| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| pion        | &#9745;     |
| werift      | &#9745;     |
| aiortc      | &#9745;     |
| sipsorcery  | &#9745;     |
