## Echo Test Interoperability Results
Test run at 2021-02-21 18:57:35.375275

| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| aiortc      | &#9745;     |
| sipsorcery  | &#9745;     |
