Echo Test Interoperability Results
Test run at 2021-02-19 20:44:20.804170
| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| sipsorcery  | 0           |
