## Echo Test Interoperability Results
Test run at 2021-02-19 21:28:58.748016

| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| sipsorcery  | &#x2612;    |
