## Echo Test Interoperability Results
Test run at 2021-02-24 17:25:20.473214

| Server      | Client      |             |             |
|-------------|-------------|-------------|-------------|
|             | aiortc      | sipsorcery  | werift      |
| werift      | &#9745;     | &#9745;     | &#9745;     |
| pion        | &#9745;     | &#9745;     | &#9745;     |
| aiortc      | &#9745;     | &#9745;     | &#9745;     |
| sipsorcery  | &#9745;     | &#9745;     | &#9745;     |
