## Echo Test Interoperability Results
Test run at 2021-02-21 17:37:56.214750

| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| sipsorcery  | &#9745;     |
