## Echo Test Interoperability Results
Test run at 2021-02-21 06:56:10.730355

| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| sipsorcery  | &#9745;     |
