## Echo Test Interoperability Results
Test run at 2021-02-22 17:06:33.118158

| Server      | Client      |             |
|-------------|-------------|-------------|
|             | sipsorcery  | werift      |
| pion        | &#9745;     | &#9745;     |
| werift      | &#9745;     | &#9745;     |
| aiortc      | &#9745;     | &#9745;     |
| sipsorcery  | &#9745;     | &#9745;     |
