## Echo Test Interoperability Results
Test run at 2021-02-25 10:57:50.671551

| Server      | Client      |             |             |
|-------------|-------------|-------------|-------------|
|             | aiortc      | sipsorcery  | werift      |
| werift      | &#9745;     | &#9745;     | &#9745;     |
| pion        | &#9745;     | &#9745;     | &#9745;     |
| aiortc      | &#9745;     | &#9745;     | &#9745;     |
| sipsorcery  | &#9745;     | &#9745;     | &#9745;     |
