## Echo Test Interoperability Results
Test run at 2021-03-04 11:24:08.523323

| Server      | Client      |             |             |
|-------------|-------------|-------------|-------------|
|             | aiortc      | sipsorcery  | werift      |
| werift      | &#9745;     | &#9745;     | &#9745;     |
| pion        | &#9745;     | &#9745;     | &#9745;     |
| aiortc      | &#9745;     | &#9745;     | &#9745;     |
| sipsorcery  | &#9745;     | &#9745;     | &#9745;     |
