## Echo Test Interoperability Results
Test run at 2021-02-21 20:05:11.279747

| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| aiortc      | &#9745;     |
| sipsorcery  | &#9745;     |
