Echo Test Interoperability Results
Test run at 2021-02-19 20:36:12.155865
| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| sipsorcery  | 0           |
