## Echo Test Interoperability Results
Test run at 2021-02-20 23:38:08.514968

| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| sipsorcery  | &#9745;     |
