## Echo Test Interoperability Results
Test run at 2021-02-19 21:59:02.942587

| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| sipsorcery  | &#9745;     |
