## Echo Test Interoperability Results
Test run at 2021-02-19 23:04:29.812346

| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| sipsorcery  | &#9745;     |
