## Echo Test Interoperability Results
Test run at 2021-02-21 19:53:09.608606

| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| aiortc      | &#9745;     |
| sipsorcery  | &#9745;     |
