## Echo Test Interoperability Results
Test run at 2021-03-05 23:39:25.948246

| Server      | Client      |             |             |
|-------------|-------------|-------------|-------------|
|             | aiortc      | sipsorcery  | werift      |
| werift      | &#9745;     | &#9745;     | &#9745;     |
| pion        | &#9745;     | &#9745;     | &#9745;     |
| gst         | &#x2612;    | &#9745;     | &#9745;     |
| aiortc      | &#9745;     | &#9745;     | &#9745;     |
| sipsorcery  | &#9745;     | &#9745;     | &#9745;     |
