Echo Test Interoperability Results
`Test run at 2021-02-19 20:54:46.141250`
| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| sipsorcery  | 0           |
