## Echo Test Interoperability Results
Test run at 2021-02-21 20:25:56.537148

| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| werift      | &#9745;     |
| aiortc      | &#9745;     |
| sipsorcery  | &#9745;     |
