## Echo Test Interoperability Results
Test run at 2021-02-19 21:41:12.526478

| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| sipsorcery  | &#9745;     |
