## Echo Test Interoperability Results
Test run at 2021-02-21 16:04:32.514365

| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| sipsorcery  | &#9745;     |
