## Echo Test Interoperability Results
Test run at 2021-02-21 09:04:42.903916

| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| sipsorcery  | &#9745;     |
