## Echo Test Interoperability Results
Test run at 2021-02-21 19:36:55.374174

| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| aiortc      | &#9745;     |
| sipsorcery  | &#9745;     |
