## echo Test Results
Test run at 2021-04-25 11:45:06.044682

| Server      | Client      |             |
|-------------|-------------|-------------|
|             | sipsorcery  | werift      |
| sipsorcery  | &#9745;     | &#9745;     |
| libdatachannel| &#9745;     | &#9745;     |
| werift      | &#9745;     | &#9745;     |
