## echo Test Results
Test run at 2021-04-17 11:19:43.328864

| Server      | Client      |             |
|-------------|-------------|-------------|
|             | werift      | sipsorcery  |
| sipsorcery  | &#9745;     | &#9745;     |
| libdatachannel| &#9745;     | &#9745;     |
| werift      | &#9745;     | &#9745;     |
