## echo Test Results
Test run at 2021-04-16 19:34:58.083216

| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| libdatachannel| &#9745;     |
| sipsorcery  | &#9745;     |
