## echo Test Results
Test run at 2021-10-22 21:03:27.301059

| Server      | Client      |             |             |
|-------------|-------------|-------------|-------------|
|             | werift      | libdatachannel| sipsorcery  |
| sipsorcery  | &#9745;     | &#9745;     | &#9745;     |
| werift      | &#9745;     | &#9745;     | &#9745;     |
| libdatachannel| &#9745;     | &#9745;     | &#9745;     |
