## echo Test Results
Test run at 2021-04-17 09:41:44.771792

| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| libdatachannel| &#9745;     |
| sipsorcery  | &#9745;     |
| werift      | &#x2612;    |
