Test run at 2024-11-15 21:36:24.048341

| Server       | libdatachannel | sipsorcery | werift |
|--------|--------|--------|--------|
| libdatachannel | ✔      | ✔      | ✔      |
| sipsorcery   | ✔      | ✔      | ✔      |
| werift       | ✔      | ✔      | ✔      |
