## echo Test Results
Test run at 2021-07-31 15:36:05.368068

| Server      | Client      |             |
|-------------|-------------|-------------|
|             | sipsorcery  | werift      |
| libdatachannel| &#9745;     | &#9745;     |
| sipsorcery  | &#9745;     | &#9745;     |
| werift      | &#9745;     | &#9745;     |
