## echo Test Results
Test run at 2021-08-21 13:16:41.222494

| Server      | Client      |             |
|-------------|-------------|-------------|
|             | sipsorcery  | werift      |
| libdatachannel| &#9745;     | &#9745;     |
| sipsorcery  | &#9745;     | &#9745;     |
| werift      | &#9745;     | &#9745;     |
