Test run at 2024-10-12 21:25:39.048071

| Server       | libdatachannel | sipsorcery | werift |
|--------|--------|--------|--------|
| libdatachannel | ✔      | ✔      | ✔      |
| sipsorcery   | ✔      | ✔      | ✔      |
| werift       | ✔      | ✔      | ✔      |
