## echo Test Results
Test run at 2021-05-09 14:42:22.411767

| Server      | Client      |             |
|-------------|-------------|-------------|
|             | sipsorcery  | werift      |
| werift      | &#9745;     | &#9745;     |
| sipsorcery  | &#9745;     | &#9745;     |
| libdatachannel| &#9745;     | &#9745;     |
