## echo Test Results
Test run at 2021-04-28 11:08:15.464686

| Server      | Client      |             |
|-------------|-------------|-------------|
|             | sipsorcery  | werift      |
| sipsorcery  | &#9745;     | &#x2612;    |
| libdatachannel| &#9745;     | &#x2612;    |
| werift      | &#9745;     | &#9745;     |
