| Server | Client | Test Result |
|--------|--------|-------------|
| libdatachannel | libdatachannel | 0 |
| libdatachannel | sipsorcery | 0 |
| libdatachannel | werift | 0 |
| sipsorcery | libdatachannel | 0 |
| sipsorcery | sipsorcery | 0 |
| sipsorcery | werift | 0 |
| werift | libdatachannel | 0 |
| werift | sipsorcery | 0 |
| werift | werift | 0 |
