## echo Test Results
Test run at 2021-04-28 10:10:49.160274

| Server      | Client      |             |
|-------------|-------------|-------------|
|             | sipsorcery  | werift      |
| sipsorcery  | &#9745;     | &#9745;     |
| libdatachannel| &#9745;     | &#9745;     |
| werift      | &#9745;     | &#9745;     |
