## echo Test Results
Test run at 2021-04-17 09:46:49.184837

| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| libdatachannel| &#9745;     |
| sipsorcery  | &#9745;     |
| werift      | &#9745;     |
