## echo Test Results
Test run at 2021-10-21 23:27:28.986517

| Server      | Client      |             |             |
|-------------|-------------|-------------|-------------|
|             | werift      | libdatachannel| sipsorcery  |
| sipsorcery  | &#9745;     | &#9745;     | &#9745;     |
| werift      | &#9745;     | &#9745;     | &#9745;     |
| libdatachannel| &#9745;     | &#9745;     | &#9745;     |
