## echo Test Results
Test run at 2022-02-07 19:55:13.266905

| Server      | Client      |             |             |
|-------------|-------------|-------------|-------------|
|             | werift      | libdatachannel| sipsorcery  |
| libdatachannel| &#9745;     | &#9745;     | &#9745;     |
| werift      | &#9745;     | &#9745;     | &#9745;     |
| sipsorcery  | &#9745;     | &#9745;     | &#9745;     |
