## echo Test Results
Test run at 2021-04-17 11:16:40.217252

| Server      | Client      |             |
|-------------|-------------|-------------|
|             | werift      | sipsorcery  |
| sipsorcery  | &#9745;     | &#9745;     |
| libdatachannel| &#9745;     | &#9745;     |
| werift      | &#x2612;    | &#9745;     |
