## echo Test Results
Test run at 2021-10-20 09:12:20.325226

| Server      | Client      |             |             |
|-------------|-------------|-------------|-------------|
|             | werift      | libdatachannel| sipsorcery  |
| sipsorcery  | &#9745;     | &#9745;     | &#9745;     |
| werift      | &#9745;     | &#9745;     | &#9745;     |
| libdatachannel| &#9745;     | &#9745;     | &#9745;     |
