## echo Test Results
Test run at 2021-04-16 11:21:53.519947

| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| libdatachannel| &#9745;     |
| sipsorcery  | &#9745;     |
