## echo Test Results
Test run at 2022-08-14 15:41:19.862838

| Server      | Client      |             |             |
|-------------|-------------|-------------|-------------|
|             | sipsorcery  | werift      | libdatachannel|
| werift      | &#9745;     | &#9745;     | &#9745;     |
| sipsorcery  | &#9745;     | &#9745;     | &#9745;     |
| libdatachannel| &#9745;     | &#9745;     | &#9745;     |
