## echo Test Results
Test run at 2022-01-16 11:16:49.277742

| Server      | Client      |             |             |
|-------------|-------------|-------------|-------------|
|             | werift      | libdatachannel| sipsorcery  |
| libdatachannel| &#9745;     | &#9745;     | &#9745;     |
| sipsorcery  | &#9745;     | &#9745;     | &#9745;     |
| werift      | &#9745;     | &#9745;     | &#9745;     |
