## echo Test Results
Test run at 2021-05-19 10:00:52.962889

| Server      | Client      |             |
|-------------|-------------|-------------|
|             | sipsorcery  | werift      |
| werift      | &#9745;     | &#9745;     |
| sipsorcery  | &#9745;     | &#9745;     |
| libdatachannel| &#9745;     | &#9745;     |
