## echo Test Results
Test run at 2021-11-13 03:12:45.988225

| Server      | Client      |             |             |
|-------------|-------------|-------------|-------------|
|             | libdatachannel| sipsorcery  | werift      |
| werift      | &#9745;     | &#9745;     | &#9745;     |
| libdatachannel| &#9745;     | &#9745;     | &#9745;     |
| sipsorcery  | &#9745;     | &#9745;     | &#9745;     |
