## echo Test Results
Test run at 2021-11-15 10:31:44.295415

| Server      | Client      |             |             |
|-------------|-------------|-------------|-------------|
|             | libdatachannel| sipsorcery  | werift      |
| werift      | &#9745;     | &#9745;     | &#9745;     |
| libdatachannel| &#9745;     | &#9745;     | &#9745;     |
| sipsorcery  | &#9745;     | &#9745;     | &#9745;     |
