## echo Test Results
Test run at 2021-12-19 15:51:08.901597

| Server      | Client      |             |             |
|-------------|-------------|-------------|-------------|
|             | werift      | sipsorcery  | libdatachannel|
| sipsorcery  | &#9745;     | &#9745;     | &#9745;     |
| werift      | &#9745;     | &#9745;     | &#9745;     |
| libdatachannel| &#9745;     | &#9745;     | &#9745;     |
