Test run at 2024-12-21 21:25:07.791706

| Server       | libdatachannel | werift |
|--------|--------|--------|
| libdatachannel | ✔      | ✔      |
| sipsorcery   | ✔      | ✔      |
| werift       | ✔      | ✔      |
