## echo Test Results
Test run at 2021-09-21 15:48:19.788485

| Server      | Client      |             |
|-------------|-------------|-------------|
|             | sipsorcery  | werift      |
| libdatachannel| &#9745;     | &#9745;     |
| sipsorcery  | &#9745;     | &#9745;     |
| werift      | &#9745;     | &#9745;     |
