Test run at 2024-10-26 21:50:20.282070

| Server       | libdatachannel | sipsorcery | werift |
|--------|--------|--------|--------|
| libdatachannel | ✔      | ✔      | ✔      |
| sipsorcery   | ✔      | ✔      | ✔      |
| werift       | ✔      | ✔      | ✔      |
