## echo Test Results
Test run at 2021-06-26 13:47:04.466973

| Server      | Client      |             |
|-------------|-------------|-------------|
|             | werift      | sipsorcery  |
| libdatachannel| &#9745;     | &#9745;     |
| sipsorcery  | &#9745;     | &#9745;     |
| werift      | &#9745;     | &#9745;     |
