## echo Test Results
Test run at 2021-05-04 09:48:59.645599

| Server      | Client      |             |
|-------------|-------------|-------------|
|             | sipsorcery  | werift      |
| sipsorcery  | &#9745;     | &#9745;     |
| libdatachannel| &#9745;     | &#9745;     |
| werift      | &#9745;     | &#9745;     |
