## echo Test Results
Test run at 2021-09-30 15:46:09.709888

| Server      | Client      |             |             |
|-------------|-------------|-------------|-------------|
|             | libdatachannel| sipsorcery  | werift      |
| werift      | &#9745;     | &#9745;     | &#9745;     |
| sipsorcery  | &#9745;     | &#9745;     | &#9745;     |
| libdatachannel| &#9745;     | &#9745;     | &#9745;     |
