## echo Test Results
Test run at 2021-11-12 17:44:06.651469

| Server      | Client      |             |             |
|-------------|-------------|-------------|-------------|
|             | libdatachannel| sipsorcery  | werift      |
| werift      | &#x2612;    | &#x2612;    | &#x2612;    |
| libdatachannel| &#9745;     | &#9745;     | &#x2612;    |
| sipsorcery  | &#9745;     | &#9745;     | &#x2612;    |
