## echo Test Results
Test run at 2021-07-23 06:12:57.677005

| Server      | Client      |             |
|-------------|-------------|-------------|
|             | werift      | sipsorcery  |
| sipsorcery  | &#9745;     | &#9745;     |
| werift      | &#9745;     | &#9745;     |
| libdatachannel| &#9745;     | &#9745;     |
