## echo Test Results
Test run at 2021-06-15 11:50:11.487492

| Server      | Client      |             |
|-------------|-------------|-------------|
|             | werift      | sipsorcery  |
| werift      | &#9745;     | &#9745;     |
| sipsorcery  | &#9745;     | &#9745;     |
| libdatachannel| &#9745;     | &#9745;     |
