## echo Test Results
Test run at 2021-09-26 19:25:01.996938

| Server      | Client      |             |             |
|-------------|-------------|-------------|-------------|
|             | libdatachannel| sipsorcery  | werift      |
| werift      | &#9745;     | &#9745;     | &#9745;     |
| sipsorcery  | &#9745;     | &#9745;     | &#9745;     |
| libdatachannel| &#9745;     | &#9745;     | &#9745;     |
