## echo Test Results
Test run at 2021-04-16 11:30:09.336439

| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| libdatachannel| &#9745;     |
| sipsorcery  | &#9745;     |
