## echo Test Results
Test run at 2021-04-16 20:31:28.615982

| Server      | Client      |
|-------------|-------------|
|             | sipsorcery  |
| libdatachannel| &#9745;     |
| sipsorcery  | &#9745;     |
