Test run at 2024-10-12 21:07:27.701971

| Server       | libdatachannel | sipsorcery | werift |
|--------|--------|--------|--------|
| libdatachannel | ✔      | ✔      | ✔      |
| sipsorcery   | ✔      | ✔      | ✔      |
| werift       | ✔      | ✔      | ✔      |
