## echo Test Results
Test run at 2021-04-22 10:10:37.607272

| Server      | Client      |             |
|-------------|-------------|-------------|
|             | sipsorcery  | werift      |
| sipsorcery  | &#9745;     | &#9745;     |
| libdatachannel| &#9745;     | &#9745;     |
| werift      | &#9745;     | &#9745;     |
