Test run at 2024-12-21 21:29:16.628961

| Server       | aiortc | libdatachannel | pion | sipsorcery | webrtc-rs | werift |
|--------|--------|--------|--------|--------|--------|--------|
| aiortc       | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
| gstreamer    | ✔      | ✘      | ✔      | ✔      | ✔      | ✔      |
| janus        | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
| kurento      | ✔      | ✔      | ✘      | ✔      | ✘      | ✔      |
| libdatachannel | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
| libwebrtc    | ✔      | ✘      | ✘      | ✔      | ✘      | ✘      |
| pion         | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
| sipsorcery   | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
| webrtc-rs    | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
| werift       | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
