Test run at 2024-12-21 21:16:54.354645

| Server       | aiortc | libdatachannel | pion | sipsorcery | webrtc-rs | werift |
|--------|--------|--------|--------|--------|--------|--------|
| aiortc       | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
| gstreamer    | ✔      |        | ✔      | ✔      | ✔      | ✔      |
| janus        | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
| kurento      | ✔      | ✔      |        | ✔      |        | ✔      |
| libdatachannel | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
| libwebrtc    | ✔      |        |        | ✔      |        |        |
| pion         | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
| sipsorcery   | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
| webrtc-rs    | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
| werift       | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
