Test run at 2024-11-15 21:40:38.879065

| Server       | aiortc | libdatachannel | pion | sipsorcery | webrtc-rs | werift |
|--------|--------|--------|--------|--------|--------|--------|
| aiortc       | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
| gstreamer    | ✔      |        | ✔      | ✔      | ✔      | ✔      |
| janus        | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
| kurento      | ✔      | ✔      |        | ✔      |        | ✔      |
| libdatachannel | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
| libwebrtc    | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
| pion         | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
| sipsorcery   | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
| webrtc-rs    | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
| werift       | ✔      | ✔      | ✔      | ✔      | ✔      | ✔      |
