Test run at 2024-10-13 19:11:44.680305

| Server       | aiortc | libdatachannel | pion | sipsorcery | werift |
|--------|--------|--------|--------|--------|--------|
| aiortc       | ✔      | ✔      | ✔      |        | ✔      |
| gstreamer    | ✔      |        | ✔      | ✔      | ✔      |
| janus        | ✔      | ✔      | ✔      | ✔      | ✔      |
| kurento      | ✔      | ✔      |        | ✔      | ✔      |
| libdatachannel | ✔      | ✔      | ✔      | ✔      | ✔      |
| libwebrtc    | ✔      | ✔      | ✔      | ✔      | ✔      |
| pion         | ✔      | ✔      | ✔      | ✔      | ✔      |
| sipsorcery   | ✔      | ✔      | ✔      | ✔      | ✔      |
| werift       | ✔      | ✔      | ✔      | ✔      | ✔      |
